<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button>request</button>
    <script>
        let button = document.querySelector('button');
        button.onclick = function() {
            let url = 'http://127.0.0.1:8000/auth/signup'

            let body = {
                username: 'user2',
                password: 'pw2',
                email: 'email2@x.com'
            }

            let options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            }

            fetch(url, options).then(data => {
                console.log(response.status)
            }).catch(function(){
                console.log(5)
            })
        }
    </script>
</body>
</html>

<!-- catch and finally, error handling and throw -->